@import "tailwindcss";

* {
  scroll-behavior: smooth;
  /* font-family: "Playfair Display", serif !important;  */
  font-family: sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: black;
}
